.portfolio-item-image {
    height: 65%;
    width: 100%;
    object-fit: cover;
}

.portfolio-item {
    height: 100%;
}

.portfolio-item-title {
    font-weight: bold;
}

.portfolio-item-description {
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}